:root{
    --color-text: rgb(0, 0, 0);
    --color-active: white;
    --background-color: darkmagenta;
    --font-size-text: 14px;
}
.nav_left{
    width: 100%;
}
.nav_left a{
    text-decoration: none;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
}
.nav_left a:hover{
    text-decoration: none;

}

.header_menu{
    padding: 20px 0;
}
.header_menu img{
    width: 100%;
}
.main-nav-left{
    overflow: auto;
    height: 630px;
}

.main-nav-left::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
.main-nav-left::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
}

.main-nav-left_ul{
    list-style: none;
    padding: 0;
}

.main-nav-left_ul ul{
    list-style: none;
}

.nav-left-a_c1{
    color: var(--color-text);
    padding: 14px 5px;
    font-size: var(--font-size-text);
    font-weight: bold;
    font-size: var(--font-size-text);
}
.nav-left-a_c1:hover{
    background-color: var(--background-color);
    color: var(--color-active);
    cursor: pointer;
}
.nav_left-c2{
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}
.nav_left-c2 > li{
    color: var(--color-text);
    padding: 5px;
    font-size: var(--font-size-text);
}
.nav_left-c2 > li:hover{
    background-color: var(--background-color);
    color: var(--color-active);
    cursor: pointer;
}
.nav_left-c2 > li:hover a{
    background-color: var(--background-color);
    color: var(--color-active);
    cursor: pointer;
}

.container_content{
    overflow: auto;
    width: 100%;
    max-width: 100%;
    /* height: 630px; */
}

.container_content::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}
.container_content::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
}
.req_box{
    display: flex;
    background-color: rgb(56, 56, 56);
    padding: 7px 10px;
    border-radius: 10px;
    align-items: center;
}

.req_box_1{
    padding: 7px 15px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    margin-right: 15px;
}
.req_box_text{
    color: white;
    font-size: 17px;
}
.scheme-container{
    display: none !important;
}
