.menu_mobile_buttom{
    display: none;
    margin-top: 20px;
    outline: none !important;
}
.menu_mobile_buttom_exit{
    display: none;
}
@keyframes menushow {
    from {left: -300px}
    to {left: 0}
  }
  @keyframes menuhide {
    from {left: 0}
    to {left: -300px}
  }

@media only screen and (max-width: 739px){
    .nav_left{
        display: none;
        width: 60%;
        max-width: 100%;
        position: fixed;
        bottom: 0;
        top: 0;
        left: -300px;
        padding: 0 15px;
        background-color: rgb(235, 235, 235);
        z-index: 9999999;
        }
    .header_menu{

    }
    .header_menu img{
        width: 50%;
    }
    .menu_mobile_buttom{
        display: block;
        border: none;
        background: none;
        outline: none;
    }
    .menu_mobile_buttom div{
        font-size: 9px;
        line-height: 1;
        text-align: left;
    }
    .menu_mobile_buttom i{
        font-size: 25px !important;
    }

    .menu_mobile_buttom>div{
        display: flex;
    }
    .menu_mobile_buttom_exit{
        display: block;
        outline: none !important;
        position: absolute;
        right: 20px;
        top: 20px;
        border: 1px dashed var(--background-color);
        background: none;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: var(--background-color);
        z-index: 999999999999999;
        transition: 0.4s;
    }
    .menu_mobile_buttom_exit:hover{
        background-color: var(--background-color);
        color: var(--color-active);
    }

}
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .nav_left{
        display: none;
    }
}
